ICAN.ShapeShifter.Worker/speech_recog_app/checkpoint/jasper10x5dr.yaml
ICAN.ShapeShifter.Worker/speech_recog_app/checkpoint/JasperDecoderForCTC-STEP-265520.pt
ICAN.ShapeShifter.Worker/speech_recog_app/checkpoint/JasperEncoder-STEP-265520.pt
